/*
    Police
*/
/*@font-face {
    font-family: HK Grotesk SemiBold;
    src: url("/assets/fonts/HKGrotesk/HKGrotesk-SemiBold.otf") format("opentype");
}*/
@font-face {
    font-family: Libre Baskerville;
    src: url("/assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf") format("truetype");
}
@font-face {
    font-family: Libre Baskerville Ita;
    src: url("/assets/fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf") format("truetype");
}

* {
    font-family: 'Playfair Display', serif;
    box-sizing: inherit;
}
@font-face {
    font-family: HK-Grotesk-Regular;
    src: url('/assets/HKgrotesque/HKGrotesk-Regular.otf') format('opentype');
}

/*
    Général
*/
line {
    /*Les couleurs*/
    background-color: #e0e0e0;
    /*Les tailles*/
    height: 1px;
    margin-bottom: 4px;
    /*Les positions*/
    /*Autre*/
}
body{
    margin: 0px;
    font-family: HK-Grotesk-Regular;
}
article, aside, footer, header, nav, section, main {
    display: block;
    box-sizing: inherit;
}
a{
    color: black;
    text-decoration: none;
}

h1 {
    text-align: center;
}   
h2 {
    color: #003B5C;
}

ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
}
li {
    display: inline-block;
    margin: 0px 15px;
}
div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*
    Header
*/


/*
    Main
*/


/*
    FOOTER
*/
footer {
    /*Les couleurs*/
    background-color: #E74832;
    color: white;
    /*Les tailles*/
    padding: 3rem;
}
.footer__main {
    /*Rien à mettre dedans, pour l'instant*/

}
.footer__legal {
    /*Les couleurs*/
    /*Les tailles*/
    min-height: 50px;
    padding: 10px 0px;
    /*Les positions*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*Autre*/
}
.row {
    width: 33.33%;
    margin-left: auto;
    left: auto;
    right: auto;
    float: left;
    box-sizing: border-box;
    padding: 0 .75rem;
    min-height: 1px;
}

/*
    Responsive
*/
@media(max-width:500px) {
    /*
    Point de rupture téléphone
    */
    
}

@media(max-width:900px) {
    /*
    Point de rupture tablette
    */
    
}


/* 
    Autre
*/
